<!--
  Generated template for the Facedetect page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-navbar>
    <ion-title>facedetect</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content>
  <div class = "headers bx"><div class = "col1 overflow fullheight bx"><ion-icon class = "fr" name = "arrow-round-back"></ion-icon></div><div class ="col5 fullheight lvl3">TRANSACTIONS</div> </div>
  <div class = "overall2">
    <div class = "roundedthing"><ion-icon  class= "i" name = "aperture"></ion-icon></div>
   <div class = "top"><div class = "cover">
     <div class = "row bx"><div class = "gt"></div><div class = "col5 lvl1"><span class = "yellow">FCMB Pay</span> <br>Platform </div><div class = "col2 lvl4"><div class = "uppercase">Lorem ipsum</div><div class = "uppercase">ipsom somanas</div></div></div>
     <div class = "block col10 lvl4 bx sixtyp" *ngIf = "accreg">Authorize payment with a selfie...</div>
     <div class = "block col10 lvl4 bx sixtyp" *ngIf = "!accreg">Please sign up to use this functionality...</div>
     <div class = "profile midtext"><ion-icon class = "i" name = "person"></ion-icon><div class = "lvl4">Sign up for fcmb pay</div></div>
     </div><!---cover--> 
   </div><!--top -->
   <div class = "bottom">
    <div class = "optionrows tborder lborder" *ngIf = "!accreg" (click) = "signupfcmbpay()"><div class = "col1 lvl4 lgray">01</div><div class = "col8 lvl2 gray1">Sign Up For FCMB Pay</div><div class = "col1 lvl3 yellow"><ion-icon   name = "aperture"></ion-icon></div></div>
     <div class = "optionrows tborder lborder" *ngIf = "accreg" (click) = "logout()"><div class = "col1 lvl4 lgray">01</div><div class = "col8 lvl2 gray1">Disable Device For FCMB Pay</div><div class = "col1 lvl3 yellow"><ion-icon   name = "aperture"></ion-icon></div></div>
   <!--deploymentment <div class = "optionrows  lborder"   *ngIf = "accreg"  (click) = "makepayment()" ><div class = "col1 lvl4 lgray  ">01</div><div class = "col8 lvl2 gray1">Make Payment</div><div class = "col1 lvl3 yellow"><ion-icon   name = "heart-outline"></ion-icon></div></div>-->
       <!--development-->  <div class = "optionrows  lborder"   (click) = "makepayment()" ><div class = "col1 lvl4 lgray  ">01</div><div class = "col8 lvl2 gray1">Make Payment</div><div class = "col1 lvl3 yellow"><ion-icon   name = "heart-outline"></ion-icon></div></div>

       <!--deploymentment<div class = "optionrows lborder"  *ngIf = "accreg"   (click) = "recievepayment()"><div class = "col1 lvl4 lgray">01</div><div class = "col8 lvl2 gray1">Receive Payment</div><div class = "col1 lvl3 yellow"><ion-icon   name = "keypad"></ion-icon></div></div>-->
         <!--development--> <div class = "optionrows lborder"   (click) = "recievepayment()"><div class = "col1 lvl4 lgray">01</div><div class = "col8 lvl2 gray1">Receive Payment</div><div class = "col1 lvl3 yellow"><ion-icon   name = "keypad"></ion-icon></div></div>
     <!--deployment <div class = "optionrows  lborder disabled"   *ngIf = "!accreg" ><div class = "col1 lvl4 lgray  ">01</div><div class = "col8 lvl2 gray1">Make Payment</div><div class = "col1 lvl3 yellow"><ion-icon   name = "heart-outline"></ion-icon></div></div><!-- -->
      <div class = "optionrows lborder disabled"  *ngIf = "!accreg" ><div class = "col1 lvl4 lgray">01</div><div class = "col8 lvl2 gray1">Receive Payment</div><div class = "col1 lvl3 yellow"><ion-icon   name = "keypad"></ion-icon></div></div>
      <div class = "optionrows active lborder" ><div class = "col1 lvl4 white">01</div><div class = "col8 lvl2 white">Update Profile</div><div class = "col1 lvl3 white"><ion-icon   name = "person"></ion-icon></div></div>

   </div><!--bottom-->

  </div><!--div-->

</ion-content>
