page-form {
    ion-content{background:#CE000B!important;}
    .heading{margin-top:30px; width:100%;  text-align:center;white-space: nowrap; color:#fff; overflow: hidden;  text-overflow: ellipsis; font-family:Open Sans; font-size:22px; height:35px; line-height:30px; }
    .heading ion-icon{margin-right:10px;}
    .subhead{ width:100%;  text-align:center;  color:#fff; overflow: hidden; padding:10px 20px;  box-sizing:border-box; font-family:Open Sans; font-size:13px;  line-height:16px; }

    .user{margin-top:20px; line-height:120px; height:120px; width:100%; text-align:center; color:#CE000B; }
    .user ion-icon, .sp{font-size:50px; width:100px; background-size:contain; background-repeat:no-repeat; background-position:center;  width:100px; height:100px;  display:inline-block;  line-height:100px; border-radius:50%; text-align:center; background-color:#fff;}
 .gt { background-image: url('../../www/assets/img/gt.png'); border:solid 1px #fff;}
 .steps{ margin-top:50px; width:100%;  text-align:center; height:50px; padding:10px; box-sizing:border-box; overflow:hidden; color:#fff; font-size:10px; color:rgba(255,255,255,0.4);}
 .steps i{display:inline-block; margin-right:20px; }
 .active{color:#fff;}
 .ithead{font-size:14px; line-height:20px; height:25px; color:#fff; font-family:Open Sans; white-space: nowrap; color:#fff; overflow: hidden;  text-overflow: ellipsis; width:100%; }
 .form{width:100%; min-height:50px;  padding:0px 50px; box-sizing:border-box; font-family:Open Sans!important; font-size:12px; color:#fff!important;}
 .item .item-content, .ion-list, .radio-group,.item-md  {  width:100%; text-transform:capitalize;  border-bottom:none!important; background-color: transparent !important; color:#fff!important; font-family:Open Sans!important;}
.item-inner{border-style:none!important;} .item-md, .ithead{border-bottom:solid 1px #ededed!important;} 
.explain{font-size:12px; padding-top:0px; margin-bottom:10px; } .explainheader{font-size:18px; line-height:23px; margin-bottom:10px; }
.explain .close{width:100%; height:20px; font-size:18px; line-height:20px; color:#fff; text-align:right;}
}
